
.Plantilla{
    color: aqua;
    font-size: large;
}
/* .row select:hover{
    color: red;
} */

h1{
    color: #00af00;
}

.titulo{
    color: #00af00;
    font-size: 30px;
}
.InicioL, h1{
    color: #00af00;
    padding: 15px;
}
.InicioL, label{
    color: black;
}
.InicioL, form{
    margin-bottom: 15px;
    background: #7cd47c;
    opacity: 5.0;
    border-radius: 5px;
    /*box-shadow: 0px 2px 2px rgba(0,0,0,0.3);*/
    padding: 30px;
}
.InicioL, body{
    background-color: white;
}

.Plantilla, input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
}

#drop-area{
    border: 4px dashed #585858;
    opacity: 0.5;
    width: 660px;
    height: 300px;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#drop-area.active{
    background-color: #c4dfe6;
    color: aquamarine;
    border-radius: 2px dashed #323232;
}

#drop-area button{
    bottom: 10px;
	background: #00af00;
	border-radius: 10px;
	border: 1px solid #c4dfe6;
	color: white; 
	cursor: pointer;
}

#drop-area h2, span{
    color: black;
}

#preview{
    margin-top: 10px;
}

.status-text{
    padding: 0 10px;
}

.success{
    color: red;
}

.failure{
    color: #323232;
}

input {
    height: 3rem;
    outline: none;  
    width: 100%;    
  }

.form-control{
    background: white;
    border: solid 2px #00af00;
    border-radius: 2px #00af00;
    color: black;
    margin: 0.5rem auto;
    padding: 1rem;
    outline: 2px #00af00;
  }

.form-control:focus,
.form-control:active{
    outline: none;
    box-shadow: none;
    border: none;
}   

.form-select{
    background: none;
    border: solid 2px #00af00;
    border-radius: none;
    color: black;
    margin: 0.5rem auto;
    padding: 1rem;
    outline: none;
}

.container button{
    bottom: 10px;
	background: #00af00;
	border-radius: 10px;
	border: 1px solid #c4dfe6;
	color: white; 
	cursor: pointer;
}

.form-group{
    position: relative;
}

div#is-relative{
    max-width: 420px;
    position: relative;
  }

.icon{
    position: absolute;
  display: block;
  bottom: .6rem;
  right: 1rem;
  color: #00af00;
  
  user-select: none;
  cursor: pointer;
}
.input{
  padding-right: 2.5rem;
}

#btnlogin{
	bottom: 10px;
	background: #00af00;
	border-radius: 10px;
	border: 1px solid #c4dfe6;
	color: white; 
	cursor: pointer;
}
#btnlogin:hover{
    background: #62ce62;
}

#btnlogin:active{
    background: #7cd47c;
}

/* #btnenviarc{
    position: absolute;
	bottom: 10px;
	padding: 5px 15px;
	width: 120px;
	background: #07575b;
	border-radius: 10px;
	left: 300px;
	border: 2px solid #c4dfe6;
	color: white; 
	cursor: pointer;
}
#btnenviarc:hover{
    background: #66a5ad;
}

#btnenviarc:active{
    background: cyan;
}

#btnlogin{
	position: absolute;
	bottom: 10px;
	padding: 5px 15px;
	width: 120px;
	background: #07575b;
	border-radius: 10px;
	left: 150px;
	border: 2px solid #c4dfe6;
	color: white; 
	cursor: pointer;
}

#btnlogin:hover{
background: #66a5ad;
}
#btnlogin:active{
background: cyan;
} */